
{% extends "../header.html" %}
{% load static %}


{% block content %}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub"><a class="back-to"
                                    href="./"><em
                                        class="icon ni ni-arrow-left"></em><span>Dashboard</span></a>
                            </div>
                            <h2 class="nk-block-title fw-normal">Post</h2>
                        </div>
                    </div>

                    <div class="nk-block nk-block-lg">

                       
<div class="card card-bordered card-preview">
    <div class="card-inner">
       <table class="table">
        <thead>
            <th>Category Name</th>
            <th>Slug</th>
            <th>Author</th>
            <th>Published Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for items in  categories %}
            <tr>
                <td>{{items.name}}</td>
                <td>{{items.slug}}</td>
                <td>{{items.author}}</td>
                <td>{{items.published_date}}</td>
                <td><a href="#" class="btn btn-danger">Edit</a>   </td>
            </tr>
            {% endfor %}
        </tbody>
       </table>
    </div>
 </div>



</div>
</div>
</div>
</div>


{% endblock %}
