

{% extends "../header.html" %}


{% block content %}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block-head nk-block-head-lg wide-sm">
                        <div class="nk-block-head-content">
                            <div class="nk-block-head-sub"><a class="back-to"
                                    href="./"><em
                                        class="icon ni ni-arrow-left"></em><span>Dashboard</span></a>
                            </div>
                            <h2 class="nk-block-title fw-normal">Edit Sections</h2>
                        </div>
                    </div>

                    <div class="nk-block nk-block-lg">

                        <div class="card card-bordered card-preview">
                            <div class="card-inner">


<form method="POST" action="{% url 'edit_section' section.id  %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="col-md-6">
        <label class="bebals" for="title">Heading:</label>
         <input type="text" class="tupni  form-control col-md-6" name="heading" value="{{section.heading}}" placeholder="heading"/>
    </div>
    <br/>
    
    <div class="col-md-6">
        <label class="bebals" for="title">Paragraph:</label>
        <input type="text" class="tupni  form-control col-md-6" name="paragraph" value="{{section.paragraph}}" placeholder="paragraph"/>
        </div>
        <br/>

        
    <div class="col-md-6">
        <label class="bebals" for="title">Order Of Section:</label>
                <input type="number" class="tupni  form-control col-md-6" name="orders" value="{{section.orders}}" placeholder="orders"/>
            </div>
            <br/>


    <div class="col-md-6">
        <label class="bebals" for="title">Subheading:</label>
                <input type="text" class="tupni  form-control col-md-6" name="subheading" value="{{section.subheading}}" placeholder="subheading"/>
            </div>
            <br/>
    <div class="col-md-6">
        <label class="bebals" for="title">Background Image:</label>
    <input type="file" name="bg" class="tupni  form-control col-md-6"  placeholder="background_image"/>
</div>
<br/>
    <div class="col-md-6">
        <label class="bebals" for="title">Image:</label>
    <input type="file" name="img" class="tupni  form-control col-md-6"  placeholder="image"/>
</div>
<br/>

    <input type="hidden" name="background_image" value="{{section.background_image}}"/>
    <input type="hidden" name="image" class="tupni  form-control col-md-6" value="{{section.image}}"/>


    <label class="bebals" for="title">Is Active:</label>
    <input type="checkbox" {% if section.is_active %}checked{% endif %}  value="{{section.is_active}}"  name="is_active" placeholder="is_active"/>
<br/>
<br/>
 
    <div class="col-md-6">
    <label class="bebals" for="title">Page:</label>
    <select name="page" class="tupni form-control col-md-6">
        {% for pg in page %}
            <option value="{{ pg.id }}" {% if section.page_id.id == pg.id %} selected {% endif %}>{{ pg.name }}</option>
        {% endfor %}
    </select>
</div>
<br/>


    <button type="submit" class='btn btn-primary'>Submit</button>

</form>

</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}



